<!-- <div id="loader_div">
    <i class="icon ion-loading-c" style="font-size:30pt" id="loader"></i>
</div> -->
<ion-view view-title="Feedback">
  <ion-content class="custom-padding">

	<ion-list style="background:transparent">
	    <ion-item style="line-height:10px;padding:0px;background-color: transparent;" class="dish-list-list">
	    	<label class="item item-input item-stacked-label" style="padding:0.5em">
			    <textarea style="background:#fff;height:200px;width:100%;resize:none;border:1px solid lightgrey;padding:5px" ng-model="feedback.text" placeholder="Write your feedback here..."></textarea>
			  </label>

			  <button class="button button-full button-assertive" ng-click="add_feedback()">
 				Submit
			</button>
	    </ion-item>
	</ion-list>





  </ion-content>
</ion-view>
