
<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content="true">
    <ion-nav-bar class="bar-stable bar-assertive">
      <!-- <ion-nav-back-button>
      </ion-nav-back-button> -->

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      

    </ion-nav-bar>

<ion-nav-view name="kitchen"></ion-nav-view>


  </ion-side-menu-content>

  <ion-side-menu side="left">
    <!-- <ion-header-bar class="bar-stable">
      <h1 class="title">Options</h1>
    </ion-header-bar> -->
    <ion-content style="background:#fff;">
      <ion-list>
        <ion-item>
          <img src="img/logo.jpg" style="height:72;width:243px" />
        </ion-item>
        <ion-item menu-close ui-sref="kitchen.category({})">
          <i class="ion-pizza" style="font-size:18pt;margin-right:0.5em"></i>Cuisines
        </ion-item>
        <ion-item menu-close ui-sref="kitchen.favourites">
          <i class="ion-heart" style="font-size:18pt;margin-right:0.5em"></i>&nbsp;Favourites
        </ion-item>
        <ion-item menu-close ui-sref="kitchen.tip({})">
          <i class="ion-information-circled" style="font-size:18pt;margin-right:0.5em"></i>&nbsp;Cooking Tips
        </ion-item>
        <ion-item menu-close ui-sref="kitchen.profile({user_id: user_id })">
          <i class="ion-person" style="font-size:18pt;margin-right:0.5em"></i>&nbsp;Profile
        </ion-item>
        <!-- <ion-item menu-close href="" >
          <i class="ion-female" style="font-size:18pt;margin-right:0.5em"></i>&nbsp;About Cook
        </ion-item> -->
         <ion-item menu-close href="" onclick="window.plugins.socialsharing.share('Hey, I have download this awesome application DesiKitchen. It has awesome recipes. download it via playstore', null, 'http://makemypublicity.com/dk.jpg', 'https://play.google.com/store/apps/details?id=com.kkbhutwala.desikitchen')">
          <i class="ion-android-share-alt" style="font-size:18pt;margin-right:0.5em"></i>&nbsp;Share App
        </ion-item>
        <ion-item menu-close ui-sref="kitchen.feedback({})">
          <i class="ion-edit" style="font-size:18pt;margin-right:0.5em"></i>&nbsp;Feedback
        </ion-item>
      </ion-list>

      <script id="image-modal.html" type="text/ng-template">
              <div class="modal image-modal transparent" 
                   ng-click="closeModal()">
                <ion-slide-box on-slide-changed="slideChanged(index)" 
                               show-pager="false">
                  <ion-slide ng-repeat="oImage in aImages">
                    <img ng-src="{{oImage.src}}" class="fullscreen-image" />
                    <p class="info">{{oImage.msg}}</p>
                  </ion-slide>
                </ion-slide-box>
              </div>
          </script>

      
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
